.signups-body
  .single-container
    = render 'authentication_bar'
    %main.single-main
      %section.l-single-container
        %h2.l-single-head.registration
          電話番号認証
        = form_for @user,local: true, url: address_signups_path, method: :get, html: {class: "l-single-inner registration-form"}, novalidate: 'novalidate' do |f|
          .l-single-content
            .form-group
              = f.label :authentication_code, "認証番号"
              - if @user.errors.full_messages_for(:authentication_code).any?
                = f.number_field :authentication_code, placeholder: '認証番号を入力', class: 'input-default--has-error'
              - else
                = f.number_field :authentication_code, placeholder: '認証番号を入力', class: 'input-default'
              = render partial: 'error-messages', locals: { user: @user, column: "authentication_code"}
              %p
                SMSで届いた認証番号を入力してください
            = f.submit '認証して完了', class: "btn-default btn-red"
        %form.l-single-inner.registration-form{action: "https://www.mercari.com/jp/signup/sms_confirmation/", method: "POST", novalidate: "novalidate"}
          %input{type: "hidden", value: "", name: "after_save_callback"}
          .l-single-content
            .form-group
              %h3.text-left.l-chapter-sub-head
                30秒たっても認証番号が届かない方へ
              %p
                電話で認証番号を聞く事もできます。
            =link_to root_path, class: "btn-default btn-red" do
              電話で認証番号を聞く(通話無料)
        %form.l-single-inner.registration-form{action: "https://www.mercari.com/jp/signup/sms_confirmation/", method: "POST", novalidate: "novalidate"}
          %input{type: "hidden", value: "", name: "after_save_callback"}
          .l-single-content
            .form-group
              %h3.text-left.l-chapter-sub-head
                認証番号を再送することもできます。もう一度電話番号を入力して下さい。
              %p.l-single-text
                =link_to "#", target: "_blank" do
                  電話番号を再度入力する
              %p.l-single-text.text-center
                ※SMSが届かない場合は
                =link_to "#", target: "_blank" do
                  SMS受信設定
                を確認して、もう一度電話番号を入力してくださいしてください。
    = render 'registration_footer'