.signups-body
  .single-container	
    %header.single-header
      %h1
        =link_to "https://www.mercari.com/jp/" do
          %img(src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2296184308" alt="mercari")
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li
            会員情報
            .progress-status-first-red-line
          %li
            電話番号認証
            .progress-status-second-red-line
          %li
            お届け先住所入力
            .progress-status-third-red-line
          %li.active
            支払い方法
            .progress-status-force
          %li
            完了
            .progress-status-last
    %main.single-main
      %section.l-single-container
        %h2.l-single-head.registration
          支払い方法
        = form_for @user, url: signups_index_path, method: :get, novalidate: "novalidate", html: {class: '.l-single-inner','.registration-form'} do |f|
          = f.hidden_field :__csrf_value, value: "b2e5b4f0cff37017373d1ec91597f831808273eae11a4d39c38b6344b1d5ca243d45889a41cc3f0a721d25d7df429477f14296b17b26d2b2f105a7a00725f6400"
          .l-single-content
            .form-group
              = f.label :card_number, "カード番号"
              %sapn.form-require
                必須
              = f.number_field :card_number, placeholder: "半角数字のみ", class: 'input-default'
              %ul#card-no-error-wrapper.has-error-text
              %ul.signup-card-list
                %li
                  %img{src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3466462615", width: "49", height: "20", alt: ""}
                %li
                  %img{src: "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3466462615", width: "34", height: "20", alt: ""}
                %li
                  %img{src: "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3466462615", width: "30", height: "20", alt: ""}
                %li
                  %img{src: "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3466462615", width: "32", height: "20", alt: ""}
                %li
                  %img{src: "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3466462615", width: "21", height: "20", alt: ""}
                %li
                  %img{src: "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3466462615", width: "32", height: "20", alt: ""}
                %li
                  %img{src: "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3466462615", width: "32", height: "20", alt: ""}
            .form-group.signup-form-expire
              = f.label :card_expiration_date, "有効期限"
              %sapn.form-require
                必須
              %br/
              .select-wrap.half
                = f.select :card_expiration_date_month,["01","02","03","04","05","06","07","08","09","10","11","12"], prompt: "--", id: "payment_card_expire_mm", class: "select-default"
                = fa_icon 'chevron-down'
                %span 月
              .select-wrap.half
                = f.select :card_expiration_date_year,["19","20","21","22","23","24","25","26","27","28","29"], prompt: "--", id: "payment_card_expire_yy", class: "select-default"
                = fa_icon 'chevron-down'
                %span 年
              %ul#card-mm-error-wrapper.has-error-text
              %ul#card-yy-error-wrapper.has-error-text
            .form-group
              = f.label :card_security_code, "セキュリティコード"
              %sapn.form-require
                必須
              = f.number_field :card_security_code, placeholder: "カードの背面4桁もしくは3桁の番号", class: 'input-default'
              %ul#security-code-error-wrapper.has-error-text
              .signup-seqcode
                %span.form-question?
                = f.label :label1, "カード裏面の番号とは？"
                = f.check_box, id: "label1"
                .seqcode-show
                  カードの裏面をご参照ください。
                  %img{src: "//www-mercari-jp.akamaized.net/assets/img/signup/seq-card.png?3466462615", width: "240", alt: ""}
            = f.submit '次へ進む', class: "btn-default btn-red"
    %footer.single-footer
      %nav
        %ul.clearfix
          %li
            =link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
          %li
            =link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
          %li
            =link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
      %a.single-footer-logo{href: "https://www.mercari.com/jp/"}
        %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2296184308", width: "80"}
      %p
        %small
          &copy 2019 Mercari
  %script{src: "/app/assets/javascripts/signups.js"}