.signups-body
  .single-container	
    = render 'phonenumber_bar'
    %main.single-main
      %section.l-single-container
        %h2.l-single-head.registration
          電話番号の確認
        = form_for @user,local: true, url: authentication_signups_path, method: :get, novalidate: "novalidate", html: {class: "l-single-inner registration-form"} do |f|
          .l-single-content
            .form-group
              = f.label :phone_number, "携帯電話の番号"
              = f.number_field :phone_number, placeholder: '携帯電話の番号を入力', class: 'input-default'
              %p
                本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            = f.submit 'SMSを送信する', class: "btn-default btn-red"
            %p
              ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません
            .form-group.text-right
              %p
                =link_to "https://www.mercari.com/jp/help_center/article/244", target: "_blank" do
                  電話番号の確認が必要な理由
                  = fa_icon 'chevron-right'
          %input{name: "__csrf_value", type: "hidden", value: "b2e5b4f0cff37017373d1ec91597f831808273eae11a4d39c38b6344b1d5ca243d45889a41cc3f0a721d25d7df429477f14296b17b26d2b2f105a7a00725f6400"}/
          %input{type: "hidden", name: "id", value: "184050015"}
    = render 'registration_footer'