=render 'items/header'
.signups-body
  - breadcrumb :mypage
  =render 'categories/bread'
%main.container
  .container__content

    %section.container__content--mypage
      =link_to "",class:"container__content--mypage-user" do
        %figure.container__content--mypage-user-img
          = image_tag '/merukari_member_photo.png', class:'container__content--mypage-user-img-new'
        %h2.container__content--mypage-user-name  晃平
        .container__content--mypage-user-number
          .container__content--mypage-user-number-evaluation  評価
          %span.container__content--mypage-user-number-value 27
          .container__content--mypage-user-number-exhibit  出品数
          %span.container__content--mypage-user-number-value 22
    //--タブ1--//
    %section.container__content--tabs.tabs
      %input(id="notice" class="container__content--tabs-notice" type="radio" name="tab_item" checked="checked")
      %label(class="tab_item" for="notice") お知らせ
      %input(id="todo" class="container__content--tabs-list-todo" type="radio" name="tab_item" )
      %label(class="tab_item" for="todo") やることリスト

      //---内容---//
      .container__content--tabs-detail#all_notice
        %ul.container__content--tabs-detail-notice

          -# %li.container__content--mypage-buy-detail-trade-list 現在、お知らせはありません
          
          %li.container__content--tabs-detail-notice-list
            =link_to "",class:"container__content--tabs-detail-notice-list-link" do
              %figure.container__content--tabs-detail-notice-list-link-body
                = image_tag '/mercari_profile.png', class:'container__content--tabs-detail-notice-list-link-body-img'
              .container__content--tabs-detail-notice-list-link-message
                .container__content--tabs-detail-notice-list-link-message-text 
                  事務職からのメッセージ
                .container__content--tabs-detail-notice-list-link-message-time
                  = fa_icon 'picture-o', class: 'icon-time'
                  %span １時間
              = fa_icon 'chevron-right', class: 'icon-chevron'

          %li.container__content--tabs-detail-notice-listing
            %a(href= "" class="container__content--tabs-detail-notice-listing-btn")
              一覧を見る

      .container__content--tabs-detail#all_todo
        %ul.container__content--tabs-detail-notice

          -# %li.container__content--mypage-buy-detail-trade-list 現在、お知らせはありません
          
          %li.container__content--tabs-detail-notice-list
            =link_to "",class:"container__content--tabs-detail-notice-list-link" do
              %figure.container__content--tabs-detail-notice-list-link-body
                = image_tag '/mercari_profile.png', class:'container__content--tabs-detail-notice-list-link-body-img'
              .container__content--tabs-detail-notice-list-link-message
                .container__content--tabs-detail-notice-list-link-message-text 
                  ああああああああああ
                .container__content--tabs-detail-notice-list-link-message-time
                  = fa_icon 'picture-o', class: 'icon-time'
                  %span １時間
              = fa_icon 'chevron-right', class: 'icon-chevron'

          %li.container__content--tabs-detail-notice-listing
            %a(href= "" class="container__content--tabs-detail-notice-listing-btn")
              一覧を見る     
    //--タブ2--//
    %section.container__content--buy.tabs2
      %h2.container__content--buy-title 購入した商品
      %input(id="trade" class="container__content-buy-trade" type="radio" name="tab_item2" checked="checked")
      %label(class="tab_item2" for="trade") 取引中
      %input(id="past" class="container__content--buy-past" type="radio" name="tab_item2" )
      %label(class="tab_item2" for="past") 過去の取引
      //内容//
      .container__content--tabs-detail#all_trade
        %ul.container__content--tabs-detail-notice

          -# %li.container__content--mypage-buy-detail-trade-list 現在、お知らせはありません
          
          %li 
            =link_to "",class:"container__content--tabs-detail-notice-item" do
              %figure
                = image_tag '/merukari_member_photo.png', class:'container__content--tabs-detail-notice-item-image'
              .container__content--tabs-detail-notice-item-info
                .container__content--tabs-detail-notice-item-info-text ジャンパー
                .container__content--tabs-detail-notice-item-info-box
                  取引中
              %i.icon-arrow-right

          %li.container__content--tabs-detail-notice-listing
            %a(href= "" class="container__content--tabs-detail-notice-listing-btn")
              一覧を見る

      .container__content--tabs-detail#all_past
        %ul.container__content--tabs-detail-notice

          -# %li.container__content--mypage-buy-detail-trade-list 現在、お知らせはありません
          
          %li 
            =link_to "",class:"container__content--tabs-detail-notice-item" do
              %figure
                = image_tag '/merukari_member_photo.png', class:'container__content--tabs-detail-notice-item-image'
              .container__content--tabs-detail-notice-item-info
                .container__content--tabs-detail-notice-item-info-text ジャンパー
                .container__content--tabs-detail-notice-item-info-box-gray
                  売却済
              %i.icon-arrow-right

          %li.container__content--tabs-detail-notice-listing
            %a(href= "" class="container__content--tabs-detail-notice-listing-btn")
              一覧を見る 

      



      -# %ul.container__content--buy-tabs
      -#   %li.container__content--buy-tabs-trade
      -#     %h3.container__content--buy-tabs-trade-text
      -#       取引中
      -#   %li.container__content--buy-tabs-past
      -#     %h3.container__content--buy-tabs-past-text
      -#       過去の取引
      -# .container__content--buy-detail
      -#   %ul.container__content--buy-detail-trade
      -#     %li.container__content--buy-detail-trade-list 取引中の商品がありません

        -# %li.container__content--mypage-group-notice-list
        -#   .container__content--mypage-group-notice-list-link
        -#     %figure
        -#     .container__content--mypage-group-notice-list-body
        -#       .container__content--mypage-group-notice-list-body-text 
        -#         事務職からのメッセージ
        -#         .container__content--mypage-group-notice-list-body-text-time
        -#           = fa_icon 'picture-o', class: 'icon'
        -#           %span １時間
        -#       = fa_icon 'chevron-right', class: 'icon'

        -# %li.container__content--mypage-group-notice-list
        -#   .container__content--mypage-group-notice-list-link  一覧を見る
        

<<<<<<< HEAD
  .container__side
    .container__side--nav
      %ul.container__side--nav-listing
        %li.container__side--nav-listing-list
          =link_to "マイページ", "",class:"container__side--nav-listing-list-choice"
           
        %li.container__side--nav-listing-list
          =link_to "お知らせ", "",class:"container__side--nav-listing-list-item"
           
        %li.container__side--nav-listing-list
          =link_to "やることリスト", "",class:"container__side--nav-listing-list-item"
           
        %li.container__side--nav-listing-list
          =link_to "いいね！一覧", "",class:"container__side--nav-listing-list-item"
           
        %li.container__side--nav-listing-list
          =link_to "出品する", "http://localhost:3000/items/edit",class:"container__side--nav-listing-list-item"
    
        %li.container__side--nav-listing-list
          =link_to "出品した商品 - 出品中", "http://localhost:3000/users/seller_selling",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "出品した商品 - 取引中", "http://localhost:3000/users/seller_trading",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "出品した商品 - 売却済み", "http://localhost:3000/users/seller_sold",class:"container__side--nav-listing-list-item"
        
        %li.container__side--nav-listing-list
          =link_to "購入した商品 - 取引中", "",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "購入した商品 - 過去の取引", "",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "ニュース一覧", "",class:"container__side--nav-listing-list-item"
    
        %li.container__side--nav-listing-list
          =link_to "評価一覧", "",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "ガイド", "",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "お問い合わせ", "",class:"container__side--nav-listing-list-item"
   
      %h3.container__side--nav-merupay  メルペイ
      %ul.container__side--nav-listing
        %li.container__side--nav-listing-list
          =link_to "残高・振込申請", "",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "ポイント", "",class:"container__side--nav-listing-list-item"

      %h3.container__side--nav-setting  設定
      %ul.container__side--nav-listing
        %li.container__side--nav-listing-list
          =link_to "プロフィール", "http://localhost:3000/users/profile",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "発送元・お届け先住所変更", "",class:"container__side--nav-listing-list-item"
          
        %li.container__side--nav-listing-list
          =link_to "支払い方法", "http://localhost:3000/users/card_delete_btn",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "メール/パスワード", "",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "本人情報", "http://localhost:3000/users/information",class:"container__side--nav-listing-list-item"
    
        %li.container__side--nav-listing-list
          =link_to "電話番号の確認", "",class:"container__side--nav-listing-list-item"
         
        %li.container__side--nav-listing-list
          =link_to "ログアウト", "http://localhost:3000/users/logout",class:"container__side--nav-listing-list-item"
=======
  =render 'slide_bar'
>>>>>>> master
         
=render 'items/footer'
        
=render 'items/selling_btn'

