= render "items/header"

%main.container
  .container__content
    %section.container__content--group
      %h2.container__content--group-head-selling 出品した商品
      %ul.container__content--group-tabs
        %li.container__content--group-tabs-list
          %h3
            =link_to "出品中",seller_selling_users_path,class:"container__content--group-tabs-list-name"
        %li.container__content--group-tabs-list-active
          %h3
            =link_to "取引中",seller_trading_users_path,class:"container__content--group-tabs-list-active-name"
        %li.container__content--group-tabs-list
          %h3
            =link_to "売却済",seller_sold_users_path,class:"container__content--group-tabs-list-name"
      .container__content--group-wrap
        %ul.container__content--group-wrap-listing
          -if @item_trading.blank?
            .container__content--group-wrap-listing-lists
              .container__content--group-wrap-listing-lists-list
                取引中の商品がありません
          -else
            - @item_trading.each do |item|
              %li 
                =link_to "",class:"container__content--group-wrap-listing-item" do
                  %figure
                    = image_tag "#{item.images.first.image}", class:'container__content--group-wrap-listing-item-image'
                  .container__content--group-wrap-listing-item-info
                    .container__content--group-wrap-listing-item-info-text 
                      = "#{item.title}"
                    .container__content--group-wrap-listing-item-info-box-red
                      発送待ち
                  %i.icon-arrow-right

    %ul.container__content--pager
      %li.container__content--pager-prev 
        =link_to "",class:"container__content--pager-prev-link " do
          %i.icon-arrow-left 
      %li.container__content--pager-next
        =link_to "",class:"container__content--pager-next-link" do
          %i.icon-arrow-right

  =render 'slide_bar'

= render "items/footer"

=render 'items/selling_btn'