%h1.item__box__name
  =link_to "#{@item.title}",@items_select_path
.item__box__mein.clearfix
  .item__box__mein__photo
    =image_tag src="https://i.gyazo.com/e04f5279e2f6e215d8e5d59f1601d528.png"
    .item-sold-badge
      .item-sold-badge-text SOLD      
  .item-price-box.hyde
    %span.item-price 
      = "¥#{@item.price.to_s(:delimited)}"
    %span.item-tax (税込)
    %span.item-postage 送料込み
  %section.hyde
    .item__box__mein__button
      =link_to "購入画面に進む","",class:"item-buy-btn"
  %table.item__box__mein__table
    %tbody
      %tr
        %th 出品者
        %td
          =link_to "#{@item.user.nickname}" 
          %div
            .item-rate
              =icon('fas','laugh',class:"icon-good")
              0
            .item-rate
              =icon('fas','meh',class:"icon-nomal")
              0
            .item-rate
              =icon('fas','frown',class:"icon-bad")
              0
      %tr
        %th カテゴリー
        %td
          =link_to "#{@item.category.name}"    
      %tr
        %th ブランド
        %td
          =link_to "#{@item.brand.name}"
      %tr 
        %th 商品のサイズ
        %td
          = @item.size.size
      %tr
        %th 商品の状態
        %td
          = @item.condition.condition
      %tr
        %th 配送料の負担
        %td
          = @item.delivery_fee.fee
      %tr
        %th 配送の方法
        %td
          = @item.delivery_method.method
      %tr
        %th 配送元地域
        %td
          =link_to "#{@item.delivery_area.area}"
      %tr
        %th 発想日の目安
        %td
          = @item.delivery_day.day
.item-price-box
  %span.item-price 
    = "¥#{@item.price.to_s(:delimited)}"
  %span.item-tax (税込)
  %span.item-postage 送料込み