%h1.item__box__name
  =link_to "#{@item.title}",@items_select_path
.item__box__mein.clearfix
  .item__box__mein__photo
    .slider-for
      - @item.images.each do |image|
        .slider-for-box
          =image_tag "#{image.image}",class:"slider-for-box-image"
    - if @item.buyer_id != nil
      .item-sold-badge
        .item-sold-badge-text SOLD      
  .item-price-box.hyde
    %span.item-price 
      = "¥#{@item.price.to_s(:delimited)}"
    %span.item-tax (税込)
    %span.item-postage 送料込み
  %section.hyde
    .item__box__mein__button
      - if @item.buyer_id != nil
        .item-buy-btn.disabled 売り切れました
      - else
        =link_to "購入画面に進む","",class:"item-buy-btn"
  %table.item__box__mein__table
    %tbody
      %tr
        %th 出品者
        %td
          =link_to "#{@item.user.nickname}" 
          %div
            .item-rate
              %i.fas.fa-laugh.icon-good
              0
            .item-rate
              %i.fas.fa-meh.icon-nomal
              0
            .item-rate
              %i.fas.fa-frown.icon-bad
              0
      %tr
        %th カテゴリー
        %td
          =link_to category_path(@item.category.root) do
            .tb-category
              = @item.category.root.name
          =link_to category_path(@item.category.parent) do
            .tb-category
              =fa_icon "chevron-right"
              = @item.category.parent.name
          =link_to category_path(@item.category) do
            .tb-category  
              =fa_icon "chevron-right"
              = @item.category.name
      %tr
        %th ブランド
        %td
          =link_to "#{@item.brand.name}"
      %tr 
        %th 商品のサイズ
        %td
          = @item.size.size
      %tr
        %th 商品の状態
        %td
          = @item.condition.condition
      %tr
        %th 配送料の負担
        %td
          = @item.delivery_fee.fee
      %tr
        %th 配送の方法
        %td
          = @item.delivery_method.method
      %tr
        %th 配送元地域
        %td
          =link_to "#{@item.delivery_area.area}"
      %tr
        %th 発送日の目安
        %td
          = @item.delivery_day.day
.item-price-box
  %span.item-price 
    = "¥#{@item.price.to_s(:delimited)}"
  %span.item-tax (税込)
  %span.item-postage 送料込み