.items-sell
  %h1.items-sell__infomations
    商品の情報を入力
  .items-sell__imgs
    %h2.items-sell__imgs__head
      出品画像
      %span.items-sell__imags__head__required
        必須
    %p.items-sell__imgs__contents
      最大10文字までアップロードできます
    %form.items-sell__imgs__main{placeholder:"ドラックアンドドロップ<br>またはクリックしてファイルをアップロード"}
    %p.tems-sell__imgs__no-imgs
      画像がありません
  .items-sell__name
    %label.items-sell__name__head
      商品名
      %span.items-sell__name__head__required
        必須
    %form.items-sell__name__main{placeholder:"商品名（必須40文字まで）"}
    %p.items-sell__name__no-name
      入力してください
    %label.items-sell__name__content
      商品の説明
      %span.items-sell__name__content__required
        必須
    %form.items-sell__name__content__main{placeholder:"商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）<br>2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
    %p.items-sell__name__no-content
      入力してください
      -#下記は後ほど = form_for @name do |form| を挿入
      -# = %form.text_field :name, id: :items_name
  .items-sell__details
    .items-sell__details__left
      %label.items-sell__details__left__head
        商品の詳細
    .items-sell__details__right
      .items-sell__details__right__category
        %label.items-sell__details__right__category__head
          カテゴリー
          %span.items-sell__details__right__category__head__required
          必須
        %select.items-sell__details__right__category__main1
          %option{value: "カテゴリー0"} ---
          %option{value: "カテゴリー1"} レディース
          %option{value: "カテゴリー2"} メンズ
          %option{value: "カテゴリー3"} ベビー・キッズ
          %option{value: "カテゴリー4"} インテリア・住まい・小物
          %option{value: "カテゴリー5"} 本・音楽・ゲーム
          %option{value: "カテゴリー6"} おもちゃ・ホビー・グッズ
          %option{value: "カテゴリー7"} コスメ・香水・美容
          %option{value: "カテゴリー8"} 家電・スマホ・カメラ
          %option{value: "カテゴリー9"} スポーツ・レジャー
          %option{value: "カテゴリー10"} ハンドメイド
          %option{value: "カテゴリー11"} チケット
          %option{value: "カテゴリー12"} 自動車・オートバイ
          %option{value: "カテゴリー13"} その他
        %select.items-sell__details__right__category__main2
          %option{value: "カテゴリー0"} ---
          %option{value: "カテゴリー1"} レディース
          %option{value: "カテゴリー2"} メンズ
          %option{value: "カテゴリー3"} ベビー・キッズ
          %option{value: "カテゴリー4"} インテリア・住まい・小物
          %option{value: "カテゴリー5"} 本・音楽・ゲーム
          %option{value: "カテゴリー6"} おもちゃ・ホビー・グッズ
          %option{value: "カテゴリー7"} コスメ・香水・美容
          %option{value: "カテゴリー8"} 家電・スマホ・カメラ
          %option{value: "カテゴリー9"} スポーツ・レジャー
          %option{value: "カテゴリー10"} ハンドメイド
          %option{value: "カテゴリー11"} チケット
          %option{value: "カテゴリー12"} 自動車・オートバイ
          %option{value: "カテゴリー13"} その他
          %option{value: "カテゴリー14"} レディース
          %option{value: "カテゴリー15"} メンズ
          %option{value: "カテゴリー16"} ベビー・キッズ
          %option{value: "カテゴリー17"} インテリア・住まい・小物
          %option{value: "カテゴリー18"} 本・音楽・ゲーム
          %option{value: "カテゴリー19"} おもちゃ・ホビー・グッズ
          %option{value: "カテゴリー20"} コスメ・香水・美容
        %select.items-sell__details__right__category__main3
          %option{value: "カテゴリー0"} ---
          %option{value: "カテゴリー1"} レディース
          %option{value: "カテゴリー2"} メンズ
          %option{value: "カテゴリー3"} ベビー・キッズ
          %option{value: "カテゴリー4"} インテリア・住まい・小物
          %option{value: "カテゴリー5"} 本・音楽・ゲーム
          %option{value: "カテゴリー6"} おもちゃ・ホビー・グッズ
      .items-sell__details__right__size
        %label.items-sell__details__right__size__head
          サイズ
          %span.items-sell__details__right__size__head__required
            必須
        %select.items-sell__details__right__size__main
          %option{value: "サイズ0"} ---
          %option{value: "サイズ1"} XXS以下
          %option{value: "サイズ2"} XS(SS)
          %option{value: "サイズ3"} S
          %option{value: "サイズ4"} M
          %option{value: "サイズ5"} L
          %option{value: "サイズ6"} XL(LL)
          %option{value: "サイズ7"} 2XL(3L)
          %option{value: "サイズ8"} 3XL(4L)
          %option{value: "サイズ9"} 4XL(5L)以上
          %option{value: "サイズ10"} FREE SIZE
      .items-sell__details__right__brand
        %label.items-sell__details__right__brand__head
          ブランド
          %span.items-sell__details__right__brand__head__required
            任意
        %form.items-sell__details__right__brand__main{placeholder:"例）シャネル"}
      .items-sell__details__right__status
        %label.items-sell__details__right__status__head
          商品の状態
          %span.items-sell__details__right__status__head__required
            必須
        %select.items-sell__details__right__status__main
          %option{value: "状態0"} ---
          %option{value: "状態1"} 新品、未使用
          %option{value: "状態2"} 未使用に近い
          %option{value: "状態3"} 目立った傷や汚れなし
          %option{value: "状態4"} やや傷や汚れあり
          %option{value: "状態5"} 傷や汚れあり
          %option{value: "状態6"} 全体的に状態が悪い
  .items-sell__delivery
    .items-sell__delivery__left
      %label.items-sell__delivery__left__head
        配送について
        = link_to "", class: "items-sell__delivery__left__inquiry" do
          ？
    .items-sell__delivery__right
      %label.items-sell__delivery__right__burden__head
        配送料の負担
        %span.items-sell__delivery__right__burden__head__required
          必須
      %select.items-sell__delivery__right__burden__main
        %option{value: "負担者0"} ---
        %option{value: "負担者1"} 送料込み（出品者負担）
        %option{value: "負担者2"} 着払い（購入者負担）
      %label.items-sell__delivery__right__method__head
        配送の方法
        %span.items-sell__delivery__right__method__head__required
          必須
      %select.items-sell__delivery__right__method__main
        %option{value: "方法0"} ---
        %option{value: "方法1"} 未定
        %option{value: "方法2"} クロネコヤマト
        %option{value: "方法3"} ゆうパック
        %option{value: "方法4"} ゆうメール
      %label.items-sell__delivery__right__area
        発送元の地域
        %span.items-sell__delivery__right__area__head__required
          必須
      %select.items-sell__delivery__right__area__main
        %option{value: ""} ---
        %option{value: "北海道"} 北海道
        %option{value: "青森県"} 青森県
        %option{value: "岩手県"} 岩手県
        %option{value: "宮城県"} 宮城県
        %option{value: "秋田県"} 秋田県
        %option{value: "山形県"} 山形県
        %option{value: "福島県"} 福島県
        %option{value: "茨城県"} 茨城県
        %option{value: "栃木県"} 栃木県
        %option{value: "群馬県"} 群馬県
        %option{value: "埼玉県"} 埼玉県
        %option{value: "千葉県"} 千葉県
        %option{value: "東京都"} 東京都
        %option{value: "神奈川県"} 神奈川県
        %option{value: "新潟県"} 新潟県
        %option{value: "富山県"} 富山県
        %option{value: "石川県"} 石川県
        %option{value: "福井県"} 福井県
        %option{value: "山梨県"} 山梨県
        %option{value: "長野県"} 長野県
        %option{value: "岐阜県"} 岐阜県
        %option{value: "静岡県"} 静岡県
        %option{value: "愛知県"} 愛知県
        %option{value: "三重県"} 三重県
        %option{value: "滋賀県"} 滋賀県
        %option{value: "京都府"} 京都府
        %option{value: "大阪府"} 大阪府
        %option{value: "兵庫県"} 兵庫県
        %option{value: "奈良県"} 奈良県
        %option{value: "和歌山県"} 和歌山県
        %option{value: "鳥取県"} 鳥取県
        %option{value: "島根県"} 島根県
        %option{value: "岡山県"} 岡山県
        %option{value: "広島県"} 広島県
        %option{value: "山口県"} 山口県
        %option{value: "徳島県"} 徳島県
        %option{value: "香川県"} 香川県
        %option{value: "愛媛県"} 愛媛県
        %option{value: "高知県"} 高知県
        %option{value: "福岡県"} 福岡県
        %option{value: "佐賀県"} 佐賀県
        %option{value: "長崎県"} 長崎県
        %option{value: "熊本県"} 熊本県
        %option{value: "大分県"} 大分県
        %option{value: "宮崎県"} 宮崎県
        %option{value: "鹿児島県"} 鹿児島県
        %option{value: "沖縄県"} 沖縄県
      %label.items-sell__delivery__right__date
        発送までの日数
        %span.items-sell__delivery__right__date__head__required
          必須
      %select.items-sell__details__right__status__main
        %option{value: "日数0"} ---
        %option{value: "日数1"} 1~2日で発送
        %option{value: "日数2"} 2~3日で発送
        %option{value: "日数3"} 3~7日で発送
  .items-sell__price
    .items-sell__price__left
      %label.items-sell__price__left__head
        販売価格(300~9,999,999)
        = link_to "", class: "items-sell__price__left__inquiry" do
          ？
    .isems-sell__price__right
      %li.items-sell__price__right__list
        %label.items-sell__price__right__list__top
          価格
          %span.items-sell__price__right__list__top__required
            必須
      %li.items-sell__price__right__list
        .items-sell__price__right__list__center
          販売手数料tesuuryou(10%)
        .items-sell__price__right__list__last
          -
      %li.items-sell__price__right__list
        .items-sell__price__right__list__bottom
          販売利益
        .items-sell__price__right__list__last
          -
  %p.items-sell__exhibit
    = link_to "", class: "items-sell__exhibit__ban" do
      禁止されている出品
    、
    = link_to "", class: "items-sell__exhibit__action" do
      行為
    を必ずご確認くださいご確認ください。
  %p.items-sell__exhibit
    またブランド品でシリアルナンバー等がある場合はご記載ください。
    = link_to "", class: "items-sell__exhibit__fake" do
      偽ブランドの販売
    は犯罪であり処罰される可能性があります。
  %p.items-sell__exhibit
    また、出品をもちまして
    = link_to "", class: "items-sell__exhibit__terms" do
      加盟店規約
    に同意したことになります。
  %button.items-sell__decide
    出品する
  %button.items-sell__return 
    もどる 