.bordershadow
  =render 'header'
-# .header-hyde.header-pop
  .header-hyde__top
    =link_to "",class:"header-hyde__top__link" do
      =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class:"header-hyde__top__link__image"
    .header-hyde__top__button
      =link_to "新規会員登録","",class:"hyde-entry"
      =link_to "ログイン","",class:"hyde-login"
    .header-hyde__top__mymenu
      .header-hyde__top__mymenu__list
        =link_to "",class:"header-hyde__top__mymenu__list__link" do
          =fa_icon "bell",class:"header-hyde__top__mymenu__list__link__bell" 
      .header-hyde__top__mymenu__list
        =link_to "",class:"header-hyde__top__mymenu__list__link" do
          =fa_icon "check",class:"header-hyde__top__mymenu__list__link__check"
      .header-hyde__top__mymenu__list
        =link_to "",class:"header-hyde__top__mymenu__list__link" do
          =image_tag src="https://static.mercdn.net/images/member_photo_noimage_thumb.png",class:"header-hyde__top__mymenu__list__link__image"
          

    
  .header-hyde__middle
    %form.search-form-hyde
      %input.search-text-hyde{placeholder:"何をお探しですか？"}
      %button.search-button-hyde
        =fa_icon "search",class:"search-icon-hyde"
  .header-hyde__bottom
    =link_to "",class:"header-hyde__bottom__link" do
      =fa_icon "list-ul",class:"header-hyde__bottom__link__list"
      %span.link-text-hyde カテゴリーから探す
    =link_to "",class:"header-hyde__bottom__link" do
      =fa_icon "tag",class:"header-hyde__bottom__link__tag"
      %span.link-text-hyde ブランドから探す

-# .header
  .header__row
    .header__row__top
      .header__row__top__title
        %span.image
          =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class:"titleimage"
      .header__row__top__search
        %form.search-form
          %input.search-text{placeholder:"何かお探しですか？"}
          %button.search-button
            =fa_icon "search",class:"search-icon"
    .header__row__bottom
      .header__row__bottom__left
        .header__row__bottom__left__list
          =link_to "",class:"postlist" do
            =fa_icon "list-ul",class:"list-icon"
            %span.listfont カテゴリーから探す
          .categorys.popup
            %ul.categorys__lists
              %li.categorys__lists__list
                =link_to "レディース","",class:"categorys__lists__list__link" 
                %ul.categorys__lists2
                  %li.categorys__lists2__list
                    =link_to "","",class:"categorys__lists2__list__link" 
                    %ul.categorys__lists3
                      %li.categorys__lists3__list
                        =link_to "Tシャツ/カットソー(半袖/袖なし)","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "Tシャツ/カットソー(七分/長袖)","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "シャツ/ブラウス(半袖/袖なし)","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "シャツ/ブラウス(七分/長袖)","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "ポロシャツ","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "キャミソール","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "タンクトップ","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "ホルターネック","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "ニット/セーター","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "チュニック","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "カーディガン/ボレロ","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "アンサンブル","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "ベスト/ジレ","",class:"categorys__lists3__list__link"
                      %li.categorys__lists3__list
                        =link_to "パーカー","",class:"categorys__lists3__list__link"

              %li.categorys__lists__list
                =link_to "メンズ","",class:"categorys__lists__list__link"
                
              %li.categorys__lists__list
                =link_to "ベビー・キッズ","",class:"categorys__lists__list__link"
                
              %li.categorys__lists__list
                =link_to "インテリア・住まい・小物","",class:"categorys__lists__list__link"
                
              %li.categorys__lists__list
                =link_to "本・音楽・ゲーム","",class:"categorys__lists__list__link"
                
              %li.categorys__lists__list
                =link_to "おもちゃ・ホビー・グッズ","",class:"categorys__lists__list__link"
                
              %li.categorys__lists__list
                =link_to "コスメ・香水・美容","",class:"categorys__lists__list__link"
                
              %li.categorys__lists__list
                =link_to "家電・スマホ・カメラ","",class:"categorys__lists__list__link"
                
              %li.categorys__lists__list
                =link_to "スポーツ・レジャー","",class:"categorys__lists__list__link"
                
              %li.categorys__lists__list
                =link_to "ハンドメイド","",class:"categorys__lists__list__link"
                
              %li.categorys__lists__list
                =link_to "チケット","",class:"categorys__lists__list__link"
                
              %li.categorys__lists__list
                =link_to "自転車・オートバイ","",class:"categorys__lists__list__link" 
                
              %li.categorys__lists__list
                =link_to "その他","",class:"categorys__lists__list__link" 
                
              %li.categorys__lists__list
                =link_to "カテゴリー一覧","",class:"categorys__lists__list__link" 
                                                
            
        .header__row__bottom__left__list 
          =link_to "",class:"postlist" do
            =fa_icon "tag",class:"list-icon"
            %span.listfont ブランドから探す
          .categorys.popup    
            %ul.categorys__lists
              %li.categorys__lists__list
      -# .header__row__bottom__rigth
        .header__row__bottom__rigth__entry
          =link_to "新規会員登録", "",class:"entry-button" 
        .header__row__bottom__rigth__login
          =link_to "ログイン", "",class:"login-button"
      %ul.header-users
        %li.header-users__menu
          =link_to "",class:"header-users__menu__link" do
            =fa_icon "heart",class:"header-users__menu__link__icon"
            いいね！一覧
        %li.header-users__menu
          =link_to "",class:"header-users__menu__link" do
            =fa_icon "bell",class:"header-users__menu__link__icon"
            お知らせ
            %span.popcount
          .header-users__popmenu.popup
            %ul
              %li
                =link_to "",class:"header-users__popmenu__link" do
                  %figure.header-users__popmenu__link__newstop
                    =image_tag src="https://static.mercdn.net/images/mercari_profile.png",class:"header-users__popmenu__link__newstop__image"
                  .header-users__popmenu__link__newsbox
                    .header-users__popmenu__link__newsbox__text
                      事務局から個別メッセージ「ログイン通知」
                    %time.header-users__popmenu__link__newsbox__time
                      =fa_icon "clock",class:"header-users__popmenu__link__newsbox__time__icon"
                      %span.header-users__popmenu__link__newsbox__newstime__text
                        23時前                      
                  =fa_icon "chevron-right",class:"header-users__popmenu__link__icon"           
        %li.header-users__menu
          =link_to "",class:"header-users__menu__link" do
            =fa_icon "check",class:"header-users__menu__link__icon"
            やることリスト
          .header-users__popmenu.popup
            .header-users__popmenu__not<>
              現在、やることリストはありません
        %li.header-users__menu
          =link_to "",class:"heder-users__menu__link" do
            =image_tag src="https://static.mercdn.net/images/member_photo_noimage_thumb.png",class:"myimage"
            マイページ
          .header-users__popmenu.popup
            .header-users__popmenu__mypage
              %figure.header-users__popmenu__mypage__top
                .header-users__popmenu__mypage__top__icon
                  =image_tag src="https://i.gyazo.com/e04f5279e2f6e215d8e5d59f1601d528.png",class:"header-users__popmenu__mypage__top__icon__image"
                %figcaption.header-users__popmenu__mypage__top__name
                  user
              .header-users__popmenu__mypage__count
                =link_to "評価:0","",class:"header-users__popmenu__mypage__count__link"
                =link_to "出品数:0","",class:"header-users__popmenu__mypage__count__link"
              %ul.header-users__popmenu__mypage__credit
                %li.header-users__popmenu__mypage__credit__list
                  =link_to "",class:"header-users__popmenu__mypage__credit__list__link" do
                    .header-users__popmenu__mypage__credit__list__link__name
                      売上金
                    .header-users__popmenu__mypage__credit__list__link__price
                      ¥0
                      =fa_icon "chevron-right",class:"header-users__popmenu__mypage__credit__list__link__price__icon"                    
                %li.header-users__popmenu__mypage__credit__list
                  =link_to "",class:"header-users__popmenu__mypage__credit__list__link" do
                    .header-users__popmenu__mypage__credit__list__link__name
                      ポイント
                    .header-users__popmenu__mypage__credit__list__link__price
                      P0                 
                      =fa_icon "chevron-right",class:"header-users__popmenu__mypage__credit__list__link__price__icon"
              .header-users__popmenu__mypage__status
                %ul.header-users__popmenu__mypage__status__list
                  %li
                    =link_to "",class:"header-users__popmenu__mypage__status__list__link" do
                      いいね！一覧  
                      =fa_icon "chevron-right",class:"header-users__popmenu__mypage__status__list__link__icon"
                  %li
                    =link_to "",class:"header-users__popmenu__mypage__status__list__link" do
                      出品した商品 - 出品中  
                      =fa_icon "chevron-right",class:"header-users__popmenu__mypage__status__list__link__icon"
                  %li
                    =link_to "",class:"header-users__popmenu__mypage__status__list__link" do
                      出品した商品 - 取引中
                      =fa_icon "chevron-right",class:"header-users__popmenu__mypage__status__list__link__icon"
                  %li
                    =link_to "",class:"header-users__popmenu__mypage__status__list__link" do
                      出品した商品 - 売却済み 
                      =fa_icon "chevron-right",class:"header-users__popmenu__mypage__status__list__link__icon"
                  %li
                    =link_to "",class:"header-users__popmenu__mypage__status__list__link" do
                      購入した商品 - 取引中
                      =fa_icon "chevron-right",class:"header-users__popmenu__mypage__status__list__link__icon"
                  %li
                    =link_to "",class:"header-users__popmenu__mypage__status__list__link" do
                      購入した商品 - 過去の取引
                      =fa_icon "chevron-right",class:"header-users__popmenu__mypage__status__list__link__icon"
                    
.mein
  .mein__row
    .mein__row__sliders
      =link_to "https://jp-news.mercari.com/2019/10/04/free-campaign" do
        .mein__row__sliders__add
      .mein__row__sliders__slide
        %ul.sliders
          %li
            =link_to "https://jp-news.mercari.com/2019/10/04/free-campaign" do
              .mein__row__sliders__slide__imgtop
          %li
            .mein__row__sliders__slide__imgcamp
          %li
            .mein__row__sliders__slide__imgapp
              .mein__row__sliders__slide__imgapp__row 
                =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png",class:"appimage"
                .mein__row__sliders__slide__imgapp__row__menu
                  .mein__row__sliders__slide__imgapp__row__menu__title<>
                    スマホで
                    かんたん
                    %br<>
                    フリマアプリ
                  %p.subtext 
                    メルカリはスマホカメラからすぐに出品できる
                    %br
                    購入時も安心な独自システムのアプリです
                  .mein__row__sliders__slide__imgapp__row__menu__app
                    =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" do
                      =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",class:"appaddimg"
                    =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
                      =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",class:"appaddimg"  
        -# .mein__row__sliders__left
        -# .mein__row__sliders__right
        -# .mein__row__sliders__bottom 
    .mein__row__menu
      %h2.mein-menu-title.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv1__3ygH4 
        人気のカテゴリー
      .mein__row__menu__tags
        %ul.mein__row__menu__tags__lists
          %li.mein__row__menu__tags__lists__list
            =link_to "レディース","",class:"mein__row__menu__tags__lists__list__tag"
            =link_to "レディース","",class:"mein__row__menu__tags__lists__list__stag"
          %li.mein__row__menu__tags__lists__list
            =link_to "メンズ","",class:"mein__row__menu__tags__lists__list__tag"
            =link_to "メンズ","",class:"mein__row__menu__tags__lists__list__stag"
          %li.mein__row__menu__tags__lists__list
            =link_to "家電・スマホ・カメラ","",class:"mein__row__menu__tags__lists__list__tag"
            =link_to "家電・スマホ・カメラ","",class:"mein__row__menu__tags__lists__list__stag"
          %li.mein__row__menu__tags__lists__list
            =link_to "おもちゃ・ホビー・グッズ","",class:"mein__row__menu__tags__lists__list__tag"
            =link_to "おもちゃ・ホビー・グッズ","",class:"mein__row__menu__tags__lists__list__stag"
    .mein__row__new
      .mein__row__new__box
        .mein__row__new__box__title.bottomSpace
          %h3.mein__row__new__box__title__head.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn
            レディース新着アイテム
          =link_to "",class:"mein__row__new__box__title__more" do
            もっと見る
        .mein__row__new__box__lists
          .mein__row__new__box__lists__goods
            .mein__row__new__box__lists__goods__good
              - @ladys.each do |item|
                .visibility
                  =link_to item_path(item),class:"style_link__3tLB3 style_fluidLink__WTcwb" do
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          = item.title
                      .style_thumbnail__N_xAi
                        %span{"aria-label":"Price"} 
                          = "¥#{item.price.to_s(:delimited)}"
                        =image_tag "#{item.images.first.image}"
                  - if item.buyer_id != nil
                    .item-sold-badge
                      .item-sold-badge-text SOLD   
              
      .mein__row__new__box
        .mein__row__new__box__title.bottomSpace
          %h3.mein__row__new__box__title__head.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn
            メンズ新着アイテム          
          =link_to "",class:"mein__row__new__box__title__more" do
            もっと見る
        .mein__row__new__box__lists
          .mein__row__new__box__lists__goods
            .mein__row__new__box__lists__goods__good
              - @mens.each do |item|
                .visibility
                  =link_to item_path(item),class:"style_link__3tLB3 style_fluidLink__WTcwb" do
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          = item.title
                      .style_thumbnail__N_xAi
                        %span{"aria-label":"Price"}
                          = "¥#{item.price.to_s(:delimited)}"
                        =image_tag "#{item.images.first.image}"
                  - if item.buyer_id != nil
                    .item-sold-badge
                      .item-sold-badge-text SOLD  

      .mein__row__new__box
        .mein__row__new__box__title.bottomSpace
          %h3.mein__row__new__box__title__head.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn
            家電・スマホ・カメラ新着アイテム
          =link_to "",class:"mein__row__new__box__title__more" do
            もっと見る
        .mein__row__new__box__lists
          .mein__row__new__box__lists__goods
            .mein__row__new__box__lists__goods__good
              - @elecs.each do |item|  
                .visibility
                  =link_to item_path(item),class:"style_link__3tLB3 style_fluidLink__WTcwb" do
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          = item.title
                      .style_thumbnail__N_xAi
                        %span{"aria-label":"Price"}
                          = "¥#{item.price.to_s(:delimited)}"
                        =image_tag "#{item.images.first.image}"
                  - if item.buyer_id != nil
                    .item-sold-badge
                      .item-sold-badge-text SOLD  
            
      .mein__row__new__box
        .mein__row__new__box__title.bottomSpace
          %h3.mein__row__new__box__title__head.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn
            おもちゃ・ホビー・グッズ新着アイテム
          =link_to "",class:"mein__row__new__box__title__more" do
            もっと見る
        .mein__row__new__box__lists
          .mein__row__new__box__lists__goods
            .mein__row__new__box__lists__goods__good
              - @hobys.each do |item|
                .visibility
                  =link_to item_path(item),class:"style_link__3tLB3 style_fluidLink__WTcwb" do
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          = item.title
                      .style_thumbnail__N_xAi
                        %span{"aria-label":"Price"}
                          = "¥#{item.price.to_s(:delimited)}"
                        =image_tag "#{item.images.first.image}"
                  - if item.buyer_id != nil
                    .item-sold-badge
                      .item-sold-badge-text SOLD  

    .mein__row__menu
      %h2.mein-menu-title.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv1__3ygH4
        人気のブランド
      .mein__row__menu__tags
        %ul.mein__row__menu__tags__lists
          %li.mein__row__menu__tags__lists__list
            =link_to "シャネル","",class:"mein__row__menu__tags__lists__list__tag"
            =link_to "シャネル","",class:"mein__row__menu__tags__lists__list__stag"
          %li.mein__row__menu__tags__lists__list
            =link_to "ルイヴィトン","",class:"mein__row__menu__tags__lists__list__tag"
            =link_to "ルイヴィトン","",class:"mein__row__menu__tags__lists__list__stag"
          %li.mein__row__menu__tags__lists__list
            =link_to "シュプリーム","",class:"mein__row__menu__tags__lists__list__tag"
            =link_to "シュプリーム","",class:"mein__row__menu__tags__lists__list__stag"
          %li.mein__row__menu__tags__lists__list
            =link_to "ナイキ","",class:"mein__row__menu__tags__lists__list__tag"
            =link_to "ナイキ","",class:"mein__row__menu__tags__lists__list__stag"
    .mein__row__new
      .mein__row__new__box
        .mein__row__new__box__title.bottomSpace
          %h3.mein__row__new__box__title__head.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn
            シャネル新着アイテム
          =link_to "",class:"mein__row__new__box__title__more" do
            もっと見る
        .mein__row__new__box__lists
          .mein__row__new__box__lists__goods
            .mein__row__new__box__lists__goods__good
              - @chanels.each do |item|  
                .visibility
                  =link_to item_path(item),class:"style_link__3tLB3 style_fluidLink__WTcwb" do
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          = item.title
                      .style_thumbnail__N_xAi
                        %span{"aria-label":"Price"}
                          = "¥#{item.price.to_s(:delimited)}"
                        =image_tag "#{item.images.first.image}"
                  - if item.buyer_id != nil
                    .item-sold-badge
                      .item-sold-badge-text SOLD  
          
      .mein__row__new__box
        .mein__row__new__box__title.bottomSpace
          %h3.mein__row__new__box__title__head.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn
            ルイヴィトン新着アイテム          
          =link_to "",class:"mein__row__new__box__title__more" do
            もっと見る
        .mein__row__new__box__lists
          .mein__row__new__box__lists__goods
            .mein__row__new__box__lists__goods__good
              - @vuittons.each do |item|  
                .visibility
                  =link_to item_path(item),class:"style_link__3tLB3 style_fluidLink__WTcwb" do
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          = item.title
                      .style_thumbnail__N_xAi
                        %span{"aria-label":"Price"}
                          = "¥#{item.price.to_s(:delimited)}"
                        =image_tag "#{item.images.first.image}"
                  - if item.buyer_id != nil
                    .item-sold-badge
                      .item-sold-badge-text SOLD  
    
      .mein__row__new__box
        .mein__row__new__box__title.bottomSpace
          %h3.mein__row__new__box__title__head.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn
            シュプリーム新着アイテム
          =link_to "",class:"mein__row__new__box__title__more" do
            もっと見る
        .mein__row__new__box__lists
          .mein__row__new__box__lists__goods
            .mein__row__new__box__lists__goods__good
              - @supremes.each do |item|  
                .visibility
                  =link_to item_path(item),class:"style_link__3tLB3 style_fluidLink__WTcwb" do
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          = item.title
                      .style_thumbnail__N_xAi
                        %span{"aria-label":"Price"}
                          = "¥#{item.price.to_s(:delimited)}"
                        =image_tag "#{item.images.first.image}"
                  - if item.buyer_id != nil
                    .item-sold-badge
                      .item-sold-badge-text SOLD  
      
      .mein__row__new__box
        .mein__row__new__box__title.bottomSpace
          %h3.mein__row__new__box__title__head.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn
            ナイキ新着アイテム
          =link_to "",class:"mein__row__new__box__title__more" do
            もっと見る
        .mein__row__new__box__lists
          .mein__row__new__box__lists__goods
            .mein__row__new__box__lists__goods__good
              - @nikes.each do |item|  
                .visibility
                  =link_to item_path(item),class:"style_link__3tLB3 style_fluidLink__WTcwb" do
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span
                          = item.title
                      .style_thumbnail__N_xAi
                        %span{"aria-label":"Price"}
                          = "¥#{item.price.to_s(:delimited)}"
                        =image_tag "#{item.images.first.image}"
                  - if item.buyer_id != nil
                    .item-sold-badge
                      .item-sold-badge-text SOLD  
        
=render 'selling_btn'

-# %aside.ad
  .ad__hyde
    =link_to "",class:"ad__hyde__to" do
      =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",class:"ad__hyde__to__image"
      .ad__hyde__to__title 
        スマホでかんたんフリマアプリ
        .ad__hyde__to__title__text 今すぐ無料ダウンロード！       
  .ad__view.hyder
    .ad__view__row
      .ad__view__row__left
        .ad__view__row__left__title スマホでかんたんフリマアプリ
        .ad__view__row__left__text 今すぐ無料ダウンロード！
        .ad__view__row__left__addimages
          =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",class:"ad__view__row__left__addimages__top" 
          =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8",class:"ad__view__row__left__addimages__link" do
            =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",class:"ad__view__row__left__addimages__link__left"
          =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja",class:"ad__view__row__left__addimages__link" do
            =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",class:"ad__view__row__left__addimages__link__right"
      %figure.ad__view__row__right
        =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",class:"ad__view__row__right__image"
=render 'footer'

