=render "items/header"

%main.container
  .container__content
    %section.container__content--box 
      %h2.container__content--box-head 支払い方法
      .container__content--box-inner
        %section.container__content--box-inner-center
          .container__content--box-inner-center-head
            %h3.container__content--box-inner-center-head-title クレジットカード一覧
          %ul.container__content--box-inner-center-body
            %li.container__content--box-inner-center-body-list
              %form(action ="" class="container__content--box-inner-center-body-list-type" id="" data-adyen-id ="" method ="POST")
                %figure
                  = image_tag '//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3466462615', class:'container__content--box-inner-center-body-list-type-card-image', width:'49', height:'15'
                %input(type="hidden" name="__csrf_value" value="54d4a567188d7fe06b574db6f8f81d3e8984a5a7dbbeb44e0a20c2583e070ee32876445b6afe0b9a3c0c2e14fb9b3b161f6471c968dace7f3013335eece7a8d72")
                %input(type="hidden" name="card_sequence_no" value="KBrfRrCb4SwqXiW6YunmKqcc")
                .container__content--box-inner-center-body-list-type-num 
                  = "**** **** **** " + @default_card_information.last4
                .container__content--box-inner-center-body-list-type-mum 
                  - exp_month = @default_card_information.exp_month.to_s
                  - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                  = exp_month + " / " + exp_year
                  = link_to "削除する",cards_path,method: :delete,class: "container__content--box-inner-center-body-list-type-btn"

                  -# = form_tag(delete_cards_path, method: :post, id: 'card-form',  name: "inputForm") do
                  -#   %input(type="hidden" name="card_id" value="")
                  -#   %button.container__content--box-inner-center-body-list-type-btn 削除する

        .container__content--box-inner-help
          =link_to "",class:"container__content--box-inner-help-link" do
            %span 支払い方法について
            %i.icon-container__content--box-inner-help-link

  =render 'users/slide_bar'

= render "items/footer"

=render 'items/selling_btn'